<div class="permissionsScreen" *ngIf="visible">
    <div class="permissionTitle">
        <div class="permissionTitleText">
            <span name="permissionTitle">{{title}}</span>
        </div>
        <div class="permissionTitleClose" (click)="hide();">
            <img src="/assets/images/close.png">
        </div>
    </div>
    <div class="permissionContent">
        <div class="permissionFrame">
            <div class="permissionTitle">
                <div class="permissionTitleText">
                    <span>Gruplar</span>
                </div>
                <div class="permissionTitleClose" (click)="showAddPermissionGroup();">
                    <img src="/assets/images/plus.png">
                </div>
            </div>
            <div class="permissionFrameContent" name="permissionGroup">
                <div class="permissionLine" *ngFor="let group of groups">
                    <div class="permissionLineLogo"><img src="{{group.logo}}"></div>
                    <div class="permissionLineText"><span>{{group.name}}</span></div>
                    <div class="permissionLineFunctions"><img src="/assets/images/delete.png" title="Sil"
                            (click)="deletePermissionGroupItem(group.id);"></div>
                </div>
            </div>
        </div>
        <div class="permissionFrame">
            <div class="permissionTitle">
                <div class="permissionTitleText">
                    <span>Kullanicilar</span>
                </div>
                <div class="permissionTitleClose" (click)="showAddPermissionUser();">
                    <img src="/assets/images/plus.png">
                </div>
            </div>
            <div class="permissionFrameContent" name="permissionUser">
                <div class="permissionLine" *ngFor="let user of users">
                    <div class="permissionLineLogo"><img src="{{user.logo}}"></div>
                    <div class="permissionLineText"><span>{{user.name}}</span></div>
                    <div class="permissionLineFunctions"><img src="/assets/images/delete.png" title="Sil"
                            (click)="deletePermissionUserItem(user.userId);"></div>
                </div>
            </div>
        </div>
        <div class="permissionFrame">
            <div class="permissionTitle">
                <div class="permissionTitleText">
                    <span>Sabit Erisim Yetkililer</span>
                </div>
                <div class="permissionTitleClose">
                </div>
            </div>
            <div class="permissionFrameContent" name="solidPermissionUserAndGroups">
                <div class="permissionLine" *ngFor="let solid of solidPermissions">
                    <div class="permissionLineLogo"><img src="{{solid.logo}}"></div>
                    <div class="permissionLineText"><span>{{solid.text}}</span></div>
                    <div class="permissionLineFunctions"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<permissiongroup></permissiongroup>
<permissionuser></permissionuser>