<div class="permissionsScreen" itemid="0" itemtype="0">
    <div class="permissionTitle">
        <div class="permissionTitleText">
            <span name="permissionTitle">Klasör Yetkileri</span>
        </div>
        <div class="permissionTitleClose" onclick="permissionWindow.hide();">
            <img src="/img/close.png">
        </div>
    </div>
    <div class="permissionContent">
        <div class="permissionFrame">
            <div class="permissionTitle">
                <div class="permissionTitleText">
                    <span>Gruplar</span>
                </div>
                <div class="permissionTitleClose" onclick="permissionWindow.showAddPermissionGroup();">
                    <img src="/img/plus.png">
                </div>
            </div>
            <div class="permissionFrameContent" name="permissionGroup">
            </div>
        </div>
        <div class="permissionFrame">
            <div class="permissionTitle">
                <div class="permissionTitleText">
                    <span>Kullanicilar</span>
                </div>
                <div class="permissionTitleClose" onclick="permissionWindow.showAddPermissionUser();">
                    <img src="/img/plus.png">
                </div>
            </div>
            <div class="permissionFrameContent" name="permissionUser">
            </div>
        </div>
        <div class="permissionFrame">
            <div class="permissionTitle">
                <div class="permissionTitleText">
                    <span>Sabit Erisim Yetkililer</span>
                </div>
                <div class="permissionTitleClose">
                </div>
            </div>
            <div class="permissionFrameContent" name="solidPermissionUserAndGroups">
            </div>
        </div>
    </div>
</div>
<div class="permissionGroup" name="addPermissionGroup">
    <div class="permissionGroupTitle">
        <div class="permissionGroupTitle">
            <div class="permissionGroupTitleText">
                <span name="permissionGroupTitle">Grup Yetkilendir</span>
            </div>
            <div class="permissionGroupTitleClose" onclick="permissionWindow.hideAddPermissionGroup();">
                <img src="/img/close.png">
            </div>
        </div>
    </div>
    <div class="permissionGroupLine">
        <div class="permissionGroupLineLeft">
            <span>Grup:</span>
        </div>
        <div class="permissionGroupLineRight">
            <select name="addPermissionSelectedGroup">
                <option>Test Grubu</option>
                <option>Yönetici Grubu</option>
            </select>
        </div>
    </div>
    <div class="permissionGroupLine">
        <div class="permissionGroupLineLeft">
            <span>Yetkiler:</span>
        </div>
        <div class="permissionGroupLineRight">
            <div class="permissionGroupLineRight">
                <div class="permissionGroupLineMiddle">
                    <input type="checkbox" value="0" name="permissionCheckbox" itemgroup="addPermissionGroup" permissiontype="2"><span>Okuma</span>
                </div>
                <div class="permissionGroupLineMiddle">
                    <input type="checkbox" value="0" name="permissionCheckbox" itemgroup="addPermissionGroup" permissiontype="3"><span>Yazma</span>
                </div>
            </div>
        </div>
    </div>
    <div class="permissionGroupLine">
        <div class="permissionGroupLineLeft">
            <span>&nbsp;</span>
        </div>
        <div class="permissionGroupLineRight">
            <div class="permissionGroupLineMiddle">
                <input type="checkbox" value="0" name="permissionCheckbox" itemgroup="addPermissionGroup" permissiontype="4"><span>Silme &nbsp;</span>
            </div>
            <div class="permissionGroupLineMiddle">
                <input type="checkbox" value="0" name="permissionCheckbox" itemgroup="addPermissionGroup" permissiontype="1"><span>Tam Yetki</span>
            </div>
        </div>
    </div>
    <div class="permissionGroupLine">
        <div class="permissionGroupLineLeft">
            <span>&nbsp;</span>
        </div>
        <div class="permissionGroupLineRight">
            <div class="permissionGroupLineMiddle">
                <button name="addPermissionGroupOk">Tamam</button>
            </div>
            <div class="permissionGroupLineMiddle">
                <button onclick="permissionWindow.hideAddPermissionGroup();">Vazgeç</button>
            </div>
        </div>
    </div>
</div>
<div class="permissionGroup" name="addPermissionUser">
    <div class="permissionGroupTitle">
        <div class="permissionGroupTitle">
            <div class="permissionGroupTitleText">
                <span name="permissionGroupTitle">Kullanici Yetkilendir</span>
            </div>
            <div class="permissionGroupTitleClose" onclick="permissionWindow.hideAddPermissionUser();">
                <img src="/img/close.png">
            </div>
        </div>
    </div>
    <div class="permissionGroupLine">
        <div class="permissionGroupLineLeft">
            <span>Kullanici:</span>
        </div>
        <div class="permissionGroupLineRight">
            <select name="addPermissionSelectedUser">
                <option>Test Kullanıcısı</option>
                <option>Yönetici Kullanıcısı</option>
            </select>
        </div>
    </div>
    <div class="permissionGroupLine">
        <div class="permissionGroupLineLeft">
            <span>Yetkiler:</span>
        </div>
        <div class="permissionGroupLineRight">
            <div class="permissionGroupLineRight">
                <div class="permissionGroupLineMiddle">
                    <input type="checkbox" value="0" name="permissionCheckbox" itemgroup="addPermissionUser" permissiontype="2"><span>Okuma</span>
                </div>
                <div class="permissionGroupLineMiddle">
                    <input type="checkbox" value="0" name="permissionCheckbox" itemgroup="addPermissionUser" permissiontype="3"><span>Yazma</span>
                </div>
            </div>
        </div>
    </div>
    <div class="permissionGroupLine">
        <div class="permissionGroupLineLeft">
            <span>&nbsp;</span>
        </div>
        <div class="permissionGroupLineRight">
            <div class="permissionGroupLineMiddle">
                <input type="checkbox" value="0" name="permissionCheckbox" itemgroup="addPermissionUser" permissiontype="4"><span>Silme &nbsp;</span>
            </div>
            <div class="permissionGroupLineMiddle">
                <input type="checkbox" value="0" name="permissionCheckbox" itemgroup="addPermissionUser" permissiontype="1"><span>Tam Yetki</span>
            </div>
        </div>
    </div>
    <div class="permissionGroupLine">
        <div class="permissionGroupLineLeft">
            <span>&nbsp;</span>
        </div>
        <div class="permissionGroupLineRight">
            <div class="permissionGroupLineMiddle">
                <button name="addPermissionUserOk">Tamam</button>
            </div>
            <div class="permissionGroupLineMiddle">
                <button onclick="permissionWindow.hideAddPermissionUser();">Vazgeç</button>
            </div>
        </div>
    </div>
</div>