<div ngClass="permissionsScreen" *ngIf="visible" [ngStyle]="{'margin-left':marginLeft,'margin-top':marginTop}"
    (mouseup)="mouseUp($event)">
    <div ngClass="permissionTitle" (mouseup)="mouseUp($event)">
        <div ngClass="permissionTitleText" (mousedown)="mouseDown($event);" (mousemove)="mouseMove($event)"
            (mouseup)="mouseUp($event)">
            <span>{{title}}</span>
        </div>
        <div ngClass="permissionTitleClose" (click)="hide();">
            <img src="/assets/images/close.png">
        </div>
    </div>
    <div ngClass="permissionContent">
        <div ngClass="permissionFrame">
            <div ngClass="permissionTitle">
                <div ngClass="permissionTitleText">
                    <span>Gruplar</span>
                </div>
                <div ngClass="permissionTitleClose" (click)="showAddPermissionGroup();">
                    <img src="/assets/images/plus.png">
                </div>
            </div>
            <div ngClass="permissionFrameContent">
                <div ngClass="permissionLine" *ngFor="let group of groups">
                    <div ngClass="permissionLineLogo"><img src="{{group.logo}}"></div>
                    <div ngClass="permissionLineText"><span>{{group.name}}</span></div>
                    <div ngClass="permissionLineFunctions"><img src="/assets/images/delete.png" title="Sil"
                            (click)="deletePermissionGroupItem(group.id);"></div>
                </div>
            </div>
        </div>
        <div ngClass="permissionFrame">
            <div ngClass="permissionTitle">
                <div ngClass="permissionTitleText">
                    <span>Kullanicilar</span>
                </div>
                <div ngClass="permissionTitleClose" (click)="showAddPermissionUser();">
                    <img src="/assets/images/plus.png">
                </div>
            </div>
            <div ngClass="permissionFrameContent">
                <div ngClass="permissionLine" *ngFor="let user of users">
                    <div ngClass="permissionLineLogo"><img src="{{user.logo}}"></div>
                    <div ngClass="permissionLineText"><span>{{user.name}}</span></div>
                    <div ngClass="permissionLineFunctions"><img src="/assets/images/delete.png" title="Sil"
                            (click)="deletePermissionUserItem(user.userId);"></div>
                </div>
            </div>
        </div>
        <div ngClass="permissionFrame">
            <div ngClass="permissionTitle">
                <div ngClass="permissionTitleText">
                    <span>Sabit Erisim Yetkililer</span>
                </div>
                <div ngClass="permissionTitleClose">
                </div>
            </div>
            <div ngClass="permissionFrameContent">
                <div ngClass="permissionLine" *ngFor="let solid of solidPermissions">
                    <div ngClass="permissionLineLogo"><img src="{{solid.logo}}"></div>
                    <div ngClass="permissionLineText"><span>{{solid.text}}</span></div>
                    <div ngClass="permissionLineFunctions"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<permissiongroup></permissiongroup>
<permissionuser></permissionuser>