<div ngClass="permissionGroup" *ngIf="visible" [ngStyle]="{'margin-left':marginLeft,'margin-top':marginTop}"
    (mouseup)="mouseUp($event)">
    <div ngClass="permissionGroupTitle" (mouseup)="mouseUp($event)">
        <div ngClass="permissionGroupTitle" (mouseup)="mouseUp($event)">
            <div ngClass="permissionGroupTitleText" (mousedown)="mouseDown($event);" (mousemove)="mouseMove($event)"
                (mouseup)="mouseUp($event)">
                <span>Grup Yetkilendir</span>
            </div>
            <div ngClass="permissionGroupTitleClose" (click)="hide();">
                <img src="/assets/images/close.png">
            </div>
        </div>
    </div>
    <div ngClass="permissionGroupLine">
        <div ngClass="permissionGroupLineLeft">
            <span>Grup:</span>
        </div>
        <div ngClass="permissionGroupLineRight">
            <select [(ngModel)]="selectedGroupId">
                <option [ngValue]="group.id" *ngFor="let group of userGroups; let i =index;">{{group.name}}</option>
            </select>
        </div>
    </div>
    <div ngClass="permissionGroupLine">
        <div ngClass="permissionGroupLineLeft">
            <span>Yetkiler:</span>
        </div>
        <div ngClass="permissionGroupLineRight">
            <div ngClass="permissionGroupLineRight">
                <div ngClass="permissionGroupLineMiddle">
                    <input type="checkbox" [(ngModel)]="checkedRead" checked={{checkedRead}}><span>Okuma</span>
                </div>
                <div ngClass="permissionGroupLineMiddle">
                    <input type="checkbox" [(ngModel)]="checkedWrite" checked={{checkedWrite}}><span>Yazma</span>
                </div>
            </div>
        </div>
    </div>
    <div ngClass="permissionGroupLine">
        <div ngClass="permissionGroupLineLeft">
            <span>&nbsp;</span>
        </div>
        <div ngClass="permissionGroupLineRight">
            <div ngClass="permissionGroupLineMiddle">
                <input type="checkbox" [(ngModel)]="checkedDelete" checked={{checkedDelete}}><span>Silme &nbsp;</span>
            </div>
            <div ngClass="permissionGroupLineMiddle">
                <input type="checkbox" [(ngModel)]="checkedFull" checked={{checkedFull}}><span>Tam Yetki</span>
            </div>
        </div>
    </div>
    <div ngClass="permissionGroupLine">
        <div ngClass="permissionGroupLineLeft">
            <span>&nbsp;</span>
        </div>
        <div ngClass="permissionGroupLineRight">
            <div ngClass="permissionGroupLineMiddle">
                <button>Tamam</button>
            </div>
            <div ngClass="permissionGroupLineMiddle">
                <button (click)="hide();">Vazgeç</button>
            </div>
        </div>
    </div>
</div>