.permissionsScreen {
    float: none;
    height: 460px;
    width: 400px;
    background-color: lightgray;
    position: fixed;
    left: 0;
    top: 0;
    margin-left: 33%;
    margin-top: 5%;
    border: 3px solid gray;
}

.permissionTitle {
    float: none;
    height: 20px;
    width: 100%;
    background-color: gray;
}

.permissionTitleText {
    float: left;
    width: 95%;
    height: 100%;
    cursor: move;
}

.permissionTitleText span {
    font-size: 12px;
    color: lightgray;
    margin-left: 3%;
}

.permissionTitleClose {
    float: left;
    width: 5%;
    height: 100%;
}

.permissionTitleClose img {
    height: 100%;
    cursor: pointer;
}

.permissionContent {
    float: none;
    width: 90%;
    margin-left: 5%;
    height: auto;
}

.permissionFrame {
    float: none;
    height: 130px;
    width: 100%;
    margin-top: 10px;
    border: 1px solid gray;
    overflow: auto;
}

.permissionFrameContent {
    float: none;
    width: 100%;
    height: auto;
}

.permissionLine {
    float: none;
    height: 20px;
    width: 100%;
    line-height: 20px;
    margin-top: 3px;
}

.permissionLineLogo {
    float: left;
    width: 5%;
    margin-left: 3%;
    height: 100%;
}

.permissionLineLogo img {
    height: 100%;
}

.permissionLineText {
    float: left;
    width: 75%;
    margin-left: 3%;
    height: 100%;
}

.permissionLineText span {
    font-size: 12px;
}

.permissionLineFunctions {
    float: right;
    margin-left: 2%;
    height: 100%;
}

.permissionLineFunctions img {
    height: 70%;
    margin-top: 3px;
    cursor: pointer;
}
