<div ngClass="properties" *ngIf="visible" [ngStyle]="{'margin-left':marginLeft,'margin-top':marginTop}"
    (mouseup)="mouseUp($event)">
    <div ngClass="propertiesTitle" (mouseup)="mouseUp($event)">
        <div ngClass="propertiesTitleText" (mousedown)="mouseDown($event);" (mousemove)="mouseMove($event)"
            (mouseup)="mouseUp($event)">
            <span>{{title}}</span>
        </div>
        <div ngClass="propertiesTitleClose" (click)="hide();">
            <img src="/assets/images/close.png">
        </div>
    </div>
    <div ngClass="propertiesContent">
        <div ngClass="propertiesLine bottomBorder">
            <div ngClass="propertiesLineLeft">
                <img src="{{logo}}">
            </div>
            <div ngClass="propertiesLineRight">
                <input type="text" [(ngModel)]="name" value="{{name}}">
            </div>
        </div>
        <div ngClass="propertiesLine">
            <div ngClass="propertiesLineLeft">
                <span>Tip:</span>
            </div>
            <div ngClass="propertiesLineRight">
                <span>{{type}}</span>
            </div>
        </div>
        <div ngClass="propertiesLine">
            <div ngClass="propertiesLineLeft">
                <span>Konum:</span>
            </div>
            <div ngClass="propertiesLineRight">
                <input readonly="" type="text" value="{{path}}">
            </div>
        </div>
        <div ngClass="propertiesLine">
            <div ngClass="propertiesLineLeft">
                <span>Boyut:</span>
            </div>
            <div ngClass="propertiesLineRight">
                <span>{{size}}</span>
            </div>
        </div>
        <div ngClass="propertiesLine bottomBorder">
            <div ngClass="propertiesLineLeft">
                <span>Içerik:</span>
            </div>
            <div ngClass="propertiesLineRight">
                <span>{{content}}</span>
            </div>
        </div>
        <div ngClass="propertiesLine">
            <div ngClass="propertiesLineLeft">
                <span>Sifreli mi?:</span>
            </div>
            <div ngClass="propertiesLineRight">
                <span>{{crypted}}</span>
            </div>
        </div>
        <div ngClass="propertiesLine bottomBorder">
            <div ngClass="propertiesLineLeft">
                <span>Erisim:</span>
            </div>
            <div ngClass="propertiesLineRight">
                <span>{{access}}</span>
            </div>
        </div>
        <div ngClass="propertiesLine">
            <div ngClass="propertiesLineLeft">
                <span>Oluşturulma Tarihi:</span>
            </div>
            <div ngClass="propertiesLineRight">
                <span>{{createDate}}</span>
            </div>
        </div>
        <div ngClass="propertiesLine">
            <div ngClass="propertiesLineLeft">
                <span>Olusturan:</span>
            </div>
            <div ngClass="propertiesLineRight">
                <span>{{creatorUser}}</span>
            </div>
        </div>
        <div ngClass="propertiesLine">
            <div ngClass="propertiesLineLeft">
                <span>Değiştirilme Tarihi:</span>
            </div>
            <div ngClass="propertiesLineRight">
                <span>{{modifyDate}}</span>
            </div>
        </div>
        <div ngClass="propertiesLine bottomBorder">
            <div ngClass="propertiesLineLeft">
                <span>Degistiren:</span>
            </div>
            <div ngClass="propertiesLineRight">
                <span>{{modifierUser}}</span>
            </div>
        </div>
        <div ngClass="propertiesLine">
            <div ngClass="propertiesLineLeft">
                <span>&nbsp;</span>
            </div>
            <div ngClass="propertiesLineRight">
                <button ngClass="propertiesLineRightAlignedRightButton" (click)="Ok();">Tamam</button>
                <button (click)="hide();">Iptal</button>
            </div>
        </div>
    </div>
</div>