<div class="properties">
    <div class="propertiesTitle">
        <div class="propertiesTitleText">
            <span name="propertiesTitle"></span>
        </div>
        <div class="propertiesTitleClose" onclick="propertiesWindow.hide();">
            <img src="/img/close.png">
        </div>
    </div>
    <div class="propertiesContent">
        <div class="propertiesLine bottomBorder">
            <div class="propertiesLineLeft">
                <img src="/img/folder.png" name="propertiesImage">
            </div>
            <div class="propertiesLineRight">
                <input type="text" name="propertiesName">
            </div>
        </div>
        <div class="propertiesLine">
            <div class="propertiesLineLeft">
                <span>Tip:</span>
            </div>
            <div class="propertiesLineRight">
                <span name="propertiesType"></span>
            </div>
        </div>
        <div class="propertiesLine">
            <div class="propertiesLineLeft">
                <span>Konum:</span>
            </div>
            <div class="propertiesLineRight">
                <input readonly="" name="propertiesLocation" type="text">
            </div>
        </div>
        <div class="propertiesLine">
            <div class="propertiesLineLeft">
                <span>Boyut:</span>
            </div>
            <div class="propertiesLineRight">
                <span name="propertiesSize"></span>
            </div>
        </div>
        <div class="propertiesLine bottomBorder">
            <div class="propertiesLineLeft">
                <span>Içerik:</span>
            </div>
            <div class="propertiesLineRight">
                <span name="propertiesContent"></span>
            </div>
        </div>
        <div class="propertiesLine">
            <div class="propertiesLineLeft">
                <span>Sifreli mi?:</span>
            </div>
            <div class="propertiesLineRight">
                <span name="propertiesCrypted">Hayır</span>
            </div>
        </div>
        <div class="propertiesLine bottomBorder">
            <div class="propertiesLineLeft">
                <span>Erisim:</span>
            </div>
            <div class="propertiesLineRight">
                <span name="propertiesAccess"></span>
            </div>
        </div>
        <div class="propertiesLine">
            <div class="propertiesLineLeft">
                <span>Oluşturulma Tarihi:</span>
            </div>
            <div class="propertiesLineRight">
                <span name="propertiesCreatedAt"></span>
            </div>
        </div>
        <div class="propertiesLine">
            <div class="propertiesLineLeft">
                <span>Olusturan:</span>
            </div>
            <div class="propertiesLineRight">
                <span name="propertiesCreator"></span>
            </div>
        </div>
        <div class="propertiesLine">
            <div class="propertiesLineLeft">
                <span>Değiştirilme Tarihi:</span>
            </div>
            <div class="propertiesLineRight">
                <span name="propertiesEditedAt"></span>
            </div>
        </div>
        <div class="propertiesLine bottomBorder">
            <div class="propertiesLineLeft">
                <span>Degistiren:</span>
            </div>
            <div class="propertiesLineRight">
                <span name="propertiesEditor"></span>
            </div>
        </div>
        <div class="propertiesLine">
            <div class="propertiesLineLeft">
                <span>&nbsp;</span>
            </div>
            <div class="propertiesLineRight">
                <button class="propertiesLineRightAlignedRightButton" name="propertiesOk">Tamam</button>
                <button name="propertiesCancel">Iptal</button>
            </div>
        </div>
    </div>
</div>