<div class="folderPath">
    <div class="folderLine bottomBorder">
        <div name="folders">
            <div class="folderItem" name="pathTitle" currentlocation="2" locationid="40" diskid="40">
                <span>Konum</span>
            </div>




            <div class="searchBar">
                <img id="searchButton" src="/img/search.png">
                <img id="notify" src="/img/bell.png">

            </div>
            <div name="notifications" class="notifications"></div>
            <div class="folderItem" type="2" itemid="40"><img src="/img/hdd.png"></div>
            <div class="folderItem" type="2" itemid="40"><span>Sanal HDD</span></div>
        </div>
    </div>

</div>