<div ngClass="folderPath">
    <div ngClass="folderLine bottomBorder">
        <div name="folders">
            <div ngClass="folderItem" name="pathTitle" currentlocation="2" locationid="40" diskid="40">
                <span>Konum</span>
            </div>
            <div ngClass="folderItem" *ngFor="let item of paths" (click)="openPath(item)">
                <img src="{{item.logo}}" /><span> {{item.name}}</span>
            </div>
            <div ngClass="searchBar">
                <img id="searchButton" src="/assets/images/search.png">
                <img id="notify" src="/assets/images/bell.png">

            </div>
            <div name="notifications" ngClass="notifications"></div>
        </div>
    </div>

</div>