<div ngClass="commentsWindow" *ngIf="visible" [ngStyle]="{'margin-left':marginLeft,'margin-top':marginTop}"
    (mouseup)="mouseUp($event)">
    <div ngClass="commentsWindowTitle" (mouseup)="mouseUp($event)">
        <div ngClass="commentsWindowTitleText" (mousedown)="mouseDown($event);" (mousemove)="mouseMove($event)"
            (mouseup)="mouseUp($event)">
            <span>{{title}}</span>
        </div>
        <div ngClass="commentsWindowTitleClose" (click)="hide();">
            <img src="/assets/images/close.png">
        </div>
    </div>
    <div ngClass="commentsWindowContent">
        <div ngClass="commentsWindowLine" *ngFor="let comment of comments">
            <div ngClass="commentsWindowLineLeft">
                <div ngClass="commentsWindowImageField">
                    <img src="{{comment.logo}}">
                </div>
                <div ngClass="commentsWindowNameField">
                    <span>{{comment.name}}</span>
                </div>
                <div ngClass="commentsWindowDateField">
                    <p>{{comment.date}}</p>
                </div>
                <div ngClass="commentsWindowHourField">
                    <p>{{comment.time}}</p>
                </div>
            </div>
            <div ngClass="commentsWindowLineRight"><textarea readonly="" rows="5" cols="30">{{comment.text}}</textarea>
            </div>
        </div>
    </div>
    <div ngClass="commentsWindowUserContent">
        <div ngClass="commentsWindowLineUser">
            <div ngClass="commentsWindowLineLeft">
                <div ngClass="commentsWindowImageField">
                    <img src="/assets/images/person.png">
                </div>
                <div ngClass="commentsWindowNameField">
                    <span>Siz</span>
                </div>
            </div>
            <div ngClass="commentsWindowLineRightUser">
                <textarea rows="3" cols="32" [(ngModel)]="formText"></textarea>
                <button (click)="send();">Gönder</button>
            </div>
        </div>
    </div>
</div>