<div ngClass="commentsWindow">
    <div ngClass="commentsWindowTitle">
        <div ngClass="commentsWindowTitleText">
            <span name="commentTitle">Klasör Yorumları</span>
        </div>
        <div ngClass="commentsWindowTitleClose" onclick="commentWindow.hide();">
            <img src="/assets/images/close.png">
        </div>
    </div>
    <div ngClass="commentsWindowContent" name="itemComments">
    </div>
    <div ngClass="commentsWindowUserContent">
        <div ngClass="commentsWindowLineUser">
            <div ngClass="commentsWindowLineLeft">
                <div ngClass="commentsWindowImageField">
                    <img src="/assets/images/person.png">
                </div>
                <div ngClass="commentsWindowNameField">
                    <span>Siz</span>
                </div>
            </div>
            <div ngClass="commentsWindowLineRightUser">
                <textarea rows="3" cols="32" id="txtNewCommentText"></textarea>
                <button name="btnSendComment" onclick="commentWindow.send();">Gönder</button>
            </div>
        </div>
    </div>
</div>