<div class="commentsWindow">
    <div class="commentsWindowTitle">
        <div class="commentsWindowTitleText">
            <span name="commentTitle">Klasör Yorumları</span>
        </div>
        <div class="commentsWindowTitleClose" onclick="commentWindow.hide();">
            <img src="/img/close.png">
        </div>
    </div>
    <div class="commentsWindowContent" name="itemComments">
    </div>
    <div class="commentsWindowUserContent">
        <div class="commentsWindowLineUser">
            <div class="commentsWindowLineLeft">
                <div class="commentsWindowImageField">
                    <img src="/img/person.png">
                </div>
                <div class="commentsWindowNameField">
                    <span>Siz</span>
                </div>
            </div>
            <div class="commentsWindowLineRightUser">
                <textarea rows="3" cols="32" id="txtNewCommentText"></textarea>
                <button name="btnSendComment" onclick="commentWindow.send();">Gönder</button>
            </div>
        </div>
    </div>
</div>