<div class="dialogProgress">
    <div class="dialogProgressTop">
        <div class="dialogProgressTitle">
            <span>Yükle</span>
        </div>
    </div>
    <div class="dialogProgressFrame">
        <div class="dialogProgressIcon">
            <img src="/img/upload.png">
        </div>
        <div class="dialogProgressContent">
            <input type="file" id="selectFile" name="file" multiple="multiple">
            <div class="progress">
                <div class="progress-bar"></div>
                <div class="progressValue">0%</div>
                <div id="status">Yükleniyor...</div>
            </div>
        </div>
    </div>
</div>