<div ngClass="dialogProgress">
    <div ngClass="dialogProgressTop">
        <div ngClass="dialogProgressTitle">
            <span>Yükle</span>
        </div>
    </div>
    <div ngClass="dialogProgressFrame">
        <div ngClass="dialogProgressIcon">
            <img src="/assets/images/upload.png">
        </div>
        <div ngClass="dialogProgressContent">
            <input type="file" id="selectFile" name="file" multiple="multiple">
            <div ngClass="progress">
                <div ngClass="progress-bar"></div>
                <div ngClass="progressValue">0%</div>
                <div id="status">Yükleniyor...</div>
            </div>
        </div>
    </div>
</div>