<div ngClass="grid" (contextmenu)="$event.preventDefault();" (mousemove)="mouseMove($event)"
    (mouseup)="mouseUp($event)">
    <div ngClass="gridHeader bottomBorder">
        <div ngClass="gridHeaderLine">
            <div ngClass="checkboxField">
                <input type="checkbox" (click)="setCheckedAll();">
            </div>
            <div ngClass="gridLogo">
                &nbsp;
            </div>
            <div #item ngClass="itemName wrappable" [ngStyle]="{'width':firstColumnWidth}">
                <span>İsim</span>
            </div>
            <div ngClass="splitter draggableSplitter" (mousedown)="mouseDownGridColumn($event,0,item.offsetWidth)">
            </div>
            <div ngClass="gridLogo">
                <img src="/assets/images/disksize.png">
            </div>
            <div #item2 ngClass="sizeCol wrappable" [ngStyle]="{'width':secondColumnWidth}">
                <span>Boyut</span>
            </div>
            <div ngClass="splitter draggableSplitter" (mousedown)="mouseDownGridColumn($event,1,item2.offsetWidth)">
            </div>
            <div ngClass="gridLogo">
                <img src="/assets/images/date.png">
            </div>
            <div #item3 ngClass="dateColumn wrappable" [ngStyle]="{'width':thirdColumnWidth}">
                <span>Oluşturulma Tarihi</span>
            </div>
            <div ngClass="splitter draggableSplitter" (mousedown)="mouseDownGridColumn($event,2,item3.offsetWidth)">
            </div>
            <div ngClass="gridLogo">
                <img src="/assets/images/date.png">
            </div>
            <div #item4 ngClass="dateColumn wrappable" [ngStyle]="{'width':fourthColumnWidth}">
                <span>Değiştirilme Tarihi</span>
            </div>
            <div ngClass="splitter draggableSplitter" (mousedown)="mouseDownGridColumn($event,3,item4.offsetWidth)">
            </div>
            <div ngClass="gridLogo">
                <img src="/assets/images/person.png">
            </div>
            <div ngClass="permissionColumn">
                <span>Yetkiler</span>
            </div>
        </div>
    </div>
    <div ngClass="gridContent" (click)="hideContextMenu();">
        <div ngClass="gridLine splitterBottom" *ngFor="let item of content.folders"
            (contextmenu)="showContextMenu($event,item.type,item.id,false);" (dblclick)="openFolder(item.id)">
            <div ngClass="checkboxField">
                <input type="checkbox" (change)="setChecked(item)" [checked]="item.checked"></div>
            <div ngClass="gridLogo">
                <img src="{{item.logo}}">
            </div>
            <div ngClass="itemName wrappable" [ngStyle]="{'width':firstColumnWidth}">
                <span>{{item.name}}</span>
            </div>
            <div ngClass="splitter"></div>
            <div ngClass="gridLogo">
            </div>
            <div ngClass="sizeCol wrappable" [ngStyle]="{'width':secondColumnWidth}">
                <span>{{item.size}}</span>
            </div>
            <div ngClass="splitter">
            </div>
            <div ngClass="gridLogo">
            </div>
            <div ngClass="dateColumn wrappable" [ngStyle]="{'width':thirdColumnWidth}">
                <span>{{item.createDate}}</span>
            </div>
            <div ngClass="splitter"></div>
            <div ngClass="gridLogo">
            </div>
            <div ngClass="dateColumn wrappable" [ngStyle]="{'width':fourthColumnWidth}">
                <span>{{item.modifyDate}}</span>
            </div>
            <div ngClass="splitter"></div>
            <div ngClass="permissionColumn">
                <img src="{{permission.logo}}" title="{{permission.name}}" width="20" height="20"
                    *ngFor="let permission of item.permissions; let i = index;">
            </div>
        </div>
        <div ngClass="gridLine splitterBottom" *ngFor="let item of content.files"
            (contextmenu)="showContextMenu($event,item.type,item.id,false);">
            <div ngClass="checkboxField">
                <input type="checkbox" [checked]="item.checked" /></div>
            <div ngClass="gridLogo">
                <img src="{{item.logo}}">
            </div>
            <div ngClass="itemName wrappable" [ngStyle]="{'width':firstColumnWidth}">
                <span grid>{{item.name}}</span>
            </div>
            <div ngClass="splitter"></div>
            <div ngClass="gridLogo">
            </div>
            <div ngClass="sizeCol wrappable" [ngStyle]="{'width':secondColumnWidth}">
                <span>{{item.size}}</span>
            </div>
            <div ngClass="splitter">
            </div>
            <div ngClass="gridLogo">
            </div>
            <div ngClass="dateColumn wrappable" [ngStyle]="{'width':thirdColumnWidth}">
                <span>{{item.createDate}}</span>
            </div>
            <div ngClass="splitter"></div>
            <div ngClass="gridLogo">
            </div>
            <div ngClass="dateColumn wrappable" [ngStyle]="{'width':fourthColumnWidth}">
                <span>{{item.modifyDate}}</span>
            </div>
            <div ngClass="splitter"></div>
            <div ngClass="permissionColumn">
                <img src="{{permission.logo}}" title="{{permission.name}}" width="20" height="20"
                    *ngFor="let permission of item.permissions; let i = index;">
            </div>
        </div>
        <div ngClass="gridLine" [ngStyle]="{'flex':1, 'height':'100%'}"
            (contextmenu)="showContextMenu($event,null,null,true);">
        </div>
        <div ngClass="moveTo" [ngStyle]="{'display': 'none'}">
            <span>Buraya Taşı</span>
        </div>
    </div>