<div ngClass="grid" (contextmenu)="$event.preventDefault();">
    <div ngClass="gridHeader bottomBorder">
        <div ngClass="gridHeaderLine">
            <div ngClass="checkboxField">
                <input type="checkbox" name="selectAll">
            </div>
            <div ngClass="gridLogo">
                &nbsp;
            </div>
            <div ngClass="itemName wrappable" column="itemNameCol" orderway="true" ordername="Name" orderable="true" style="width: 424.219px;">
                <span>İsim</span>
            </div>
            <div ngClass="splitter draggableSplitter" draggable="true" name="isimSplitter" targetdrag="itemNameCol">
            </div>
            <div ngClass="gridLogo">
                <img src="/assets/images/disksize.png">
            </div>
            <div ngClass="sizeCol wrappable" column="sizeCol" orderway="true" ordername="Size" orderable="true" style="width: 50px;">
                <span>Boyut</span>
            </div>
            <div ngClass="splitter draggableSplitter" draggable="true" name="boyutSplitter" targetdrag="sizeCol">
            </div>
            <div ngClass="gridLogo">
                <img src="/assets/images/date.png">
            </div>
            <div ngClass="dateColumn wrappable" column="createDateCol" orderway="true" ordername="CreateDate" orderable="true" style="width: 100px;">
                <span>Oluşturulma Tarihi</span>
            </div>
            <div ngClass="splitter draggableSplitter" draggable="true" name="olusturulmaSplitter" targetdrag="createDateCol"></div>
            <div ngClass="gridLogo">
                <img src="/assets/images/date.png">
            </div>
            <div ngClass="dateColumn wrappable" column="changeDateCol" orderway="true" ordername="ModifyDate" orderable="true" style="width: 150px;">
                <span>Değiştirilme Tarihi</span>
            </div>
            <div ngClass="splitter draggableSplitter" draggable="true" name="degistirilmeSplitter" targetdrag="changeDateCol"></div>
            <div ngClass="gridLogo">
                <img src="/assets/images/person.png">
            </div>
            <div ngClass="permissionColumn" orderable="false">
                <span>Yetkiler</span>
            </div>
        </div>
    </div>
    <div ngClass="gridContent" (click)="hideContextMenu();">
        <div ngClass="gridLine splitterBottom" *ngFor="let item of gridItems" gridlinechecked="0" (contextmenu)="showContextMenu($event,item.itemType,item.itemId);">
            <div ngClass="checkboxField" column="checkbox" style="width: 20px;">
                <input type="checkbox" name="select"></div>
            <div ngClass="gridLogo" column="logo" grid style="width: 30px;">
                <img src="{{item.logo}}">
            </div>
            <div ngClass="itemName wrappable" column="itemNameCol" grid style="width: 424.219px;">
                <span grid>{{item.name}}</span>
            </div>
            <div ngClass="splitter" draggable="true" targetdrag="itemNameCol"></div>
            <div ngClass="gridLogo" column="logo" style="width: 30px;">
            </div>
            <div ngClass="sizeCol wrappable" column="sizeCol" style="width: 50px;">
                <span>{{item.size}}</span>
            </div>
            <div ngClass="splitter" draggable="true" targetdrag="sizeCol">
            </div>
            <div ngClass="gridLogo" column="logo" style="width: 30px;">
            </div>
            <div ngClass="dateColumn wrappable" column="createDateCol" style="width: 100px;">
                <span>{{item.createDate}}</span>
            </div>
            <div ngClass="splitter" draggable="true" targetdrag="createDateCol"></div>
            <div ngClass="gridLogo" column="logo" style="width: 30px;">
            </div>
            <div ngClass="dateColumn wrappable" column="changeDateCol" style="width: 150px;">
                <span>{{item.updateDate}}</span>
            </div>
            <div ngClass="splitter" draggable="true" targetdrag="changeDateCol"></div>
            <div ngClass="permissionColumn" column="permission">
                <img src="{{permission.logo}}" title="{{permission.title}}" width="20" height="20" *ngFor="let permission of item.permissions; let i = index;">
            </div>
        </div>
        <div ngClass="gridLine" [ngStyle]="{'flex':1, 'height':'100%'}" (contextmenu)="showContextMenu($event,2,diskId);">
        </div>
        <div name="moveTo" ngClass="moveTo" style="display: none;">
            <span>Buraya Taşı</span>
        </div>
    </div>
    <contextmenu></contextmenu>
    <comment></comment>
    <history></history>