<div ngClass="history">
    <div ngClass="historyTitle">
        <div ngClass="historyTitleText">
            <span name="historyTitle">
                Klasör Geçmişi
            </span>
        </div>
        <div ngClass="historyTitleClose" onclick="historyWindow.hide();">
            <img src="/assets/images/close.png">
        </div>
    </div>
    <div ngClass="historyContent">
        <div ngClass="historyLine">
            <div ngClass="historyLineLogo">
                <img src="/assets/images/folder.png">
            </div>
            <div ngClass="historyLineText bottomBorder">
                <span>01.01.2010 23:44</span>
                <span>|</span>
                <span>Klasör Oluşturuldu</span>
            </div>
            <div ngClass="historyLineFunctions">
            </div>
        </div>
        <div ngClass="historyLine">
            <div ngClass="historyLineLogo">
                <img src="/assets/images/file.png">
            </div>
            <div ngClass="historyLineText bottomBorder">
                <span>01.01.2010 23:44</span>
                <span>|</span>
                <span>Dosya Oluşturuldu</span>
            </div>
            <div ngClass="historyLineFunctions">
            </div>
        </div>
        <div ngClass="historyLine">
            <div ngClass="historyLineLogo">
                <img src="/assets/images/file.png">
            </div>
            <div ngClass="historyLineText bottomBorder">
                <span>01.01.2010 23:44</span>
                <span>|</span>
                <span>Dosya Silindi</span>
            </div>
            <div ngClass="historyLineFunctions">
            </div>
        </div>
    </div>
</div>