<div class="history">
    <div class="historyTitle">
        <div class="historyTitleText">
            <span name="historyTitle">
                Klasör Geçmişi
            </span>
        </div>
        <div class="historyTitleClose" onclick="historyWindow.hide();">
            <img src="/img/close.png">
        </div>
    </div>
    <div class="historyContent">
        <div class="historyLine">
            <div class="historyLineLogo">
                <img src="/img/folder.png">
            </div>
            <div class="historyLineText bottomBorder">
                <span>01.01.2010 23:44</span>
                <span>|</span>
                <span>Klasör Oluşturuldu</span>
            </div>
            <div class="historyLineFunctions">
            </div>
        </div>
        <div class="historyLine">
            <div class="historyLineLogo">
                <img src="/img/file.png">
            </div>
            <div class="historyLineText bottomBorder">
                <span>01.01.2010 23:44</span>
                <span>|</span>
                <span>Dosya Oluşturuldu</span>
            </div>
            <div class="historyLineFunctions">
            </div>
        </div>
        <div class="historyLine">
            <div class="historyLineLogo">
                <img src="/img/file.png">
            </div>
            <div class="historyLineText bottomBorder">
                <span>01.01.2010 23:44</span>
                <span>|</span>
                <span>Dosya Silindi</span>
            </div>
            <div class="historyLineFunctions">
            </div>
        </div>
    </div>
</div>