<div ngClass="history" *ngIf="visible">
    <div ngClass="historyTitle">
        <div ngClass="historyTitleText">
            <span name="historyTitle">
                {{title}}
            </span>
        </div>
        <div ngClass="historyTitleClose" (click)="hide();">
            <img src="/assets/images/close.png">
        </div>
    </div>
    <div ngClass="historyContent">
        <div ngClass="historyLine" *ngFor="let item of items">
            <div ngClass="historyLineLogo">
                <img src="{{item.logo}}">
            </div>
            <div ngClass="historyLineText bottomBorder">
                <span>{{item.date}}</span>
                <span>|</span>
                <span>{{item.text}}</span>
            </div>
            <div ngClass="historyLineFunctions">
            </div>
        </div>
    </div>
</div>