<div ngClass="form" name="sendMailForm">
    <div ngClass="formTitle">
        <div ngClass="formTitleText">
            <span name="formTitle">Başlık</span>
        </div>
        <div ngClass="formTitleClose">
            <img src="/assets/images/close.png" onclick="form.hide();">
        </div>
    </div>
    <div ngClass="formContent">
        <div ngClass="formLine">
            <div ngClass="formLineLeft">
                <span>Alıcı:</span>
            </div>
            <div ngClass="formLineRight">
                <input type="text" name="formSendMailReceiver">
            </div>
        </div>
        <div ngClass="formLine">
            <div ngClass="formLineLeft">
                <span>Açıklama:</span>
            </div>
            <div ngClass="formLineRight">
                <textarea name="formSendMailComment" rows="5" cols="40"></textarea>
            </div>
        </div>
        <div ngClass="formLine">
            <div ngClass="formLineLeft">
                <span>Dosyalar:</span>
            </div>
            <div ngClass="formLineRight formScollable" name="formFiles">
                <p>
                    Klasör/Deneme Dosya.txt
                    <br> Klasör/Alt Klasör/Deneme Dosyası.img
                    <br> Klasör/Alt Klasör/Alt 2 Klasör/Deneme.png
                    <br> Klasör/Alt Klasör/Alt 2 Klasör/Deneme/deneme_yeni.png
                    <br> Klasör/Alt Klasör/Alt 3 Klasör/Alt 4 Klasör/Alt Klasör/Uzun_metinli_dosya_adi.txt
                    <br> Klasör/Alt Klasör/Alt 3 Klasör/Alt 4 Klasör/Alt Klasör/Uzun_metinli_dosya_adi_denmeesi_2_deneme_3_deneme.txt
                </p>
            </div>
        </div>
        <div ngClass="formLine">
            <div ngClass="formLineLeft">
                <span>Boyut:</span>
            </div>
            <div ngClass="formLineRight">
                <span name="fileSizes">12.345 MB (Kilitli, gizli ve erişime kapalılar hariç)</span>
            </div>
        </div>
        <div ngClass="formLine">
            <div ngClass="formLineLeft">
                <span>&nbsp;</span>
            </div>
            <div ngClass="formLineRight">
                <button ngClass="formAlignCenter" name="formButton" onclick="form.hide();">Gönder</button>
            </div>
        </div>
    </div>
</div>