<div ngClass="dialog" *ngIf="visible" [ngStyle]="{'margin-left':marginLeft,'margin-top':marginTop}"
    (mouseup)="mouseUp($event)">
    <div ngClass="dialogTop" (mouseup)="mouseUp($event)">
        <div ngClass="dialogTitle" (mousedown)="mouseDown($event);" (mousemove)="mouseMove($event)"
            (mouseup)="mouseUp($event)">
            <span>{{title}}</span>
        </div>
        <div ngClass="dialogClose" (click)="hide();">
            <img src="/assets/images/close.png">
        </div>
    </div>
    <div ngClass="dialogFrame">
        <div ngClass="dialogIcon">
            <img src="/assets/images/warning.ico">
        </div>
        <div ngClass="dialogContent">
            <div>
                <p ngClass="dialogText">{{message}}</p>
            </div>
            <div ngClass="dialogControls">
                <div ngClass="dialogSingleControl">
                    <button (click)="Ok();">Tamam</button>
                </div>
            </div>
        </div>
    </div>
</div>