<div ngClass="dialog" name="inputDialog">
    <div ngClass="dialogTop">
        <div ngClass="dialogTitle">
            <span name="dialogTitle">Paylas</span>
        </div>
        <div ngClass="dialogClose" onclick="hideInputDialog();">
            <img src="/assets/images/close.png">
        </div>
    </div>
    <div ngClass="dialogFrame">
        <div ngClass="dialogIcon">
            <img src="/assets/images/warning.ico">
        </div>
        <div ngClass="dialogContent">
            <div>
                <p ngClass="dialogText">Asagidaki baglantiyi kullanarak ögeleri sistem kullanicilari disinda internete açik halde paylasabilirsiniz.</p>
            </div>
            <div ngClass="dialogInput" name="dialogInput">
                <input type="text" placeholder="Isim Giriniz..">
            </div>
            <div ngClass="dialogControls" name="controls">
                <div ngClass="dialogSingleControl">
                    <button name="dialogOk">Kapat</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div ngClass="dialog" name="diskDialog">
    <div ngClass="dialogTop">
        <div ngClass="dialogTitle">
            <span name="dialogTitle">Paylas</span>
        </div>
        <div ngClass="dialogClose" onclick="hideDiskDialog();">
            <img src="/assets/images/close.png">
        </div>
    </div>
    <div ngClass="dialogFrame">
        <div ngClass="dialogIcon">
            <img src="/assets/images/warning.ico">
        </div>
        <div ngClass="dialogContent">
            <div>
                <p ngClass="dialogText">Asagidaki baglantiyi kullanarak ögeleri sistem kullanicilari disinda internete açik halde paylasabilirsiniz.</p>
            </div>
            <div ngClass="dialogInput" name="diskDialogInput1">
                <input type="text" placeholder="" autocomplete="off">
            </div>
            <div ngClass="dialogInput" name="diskDialogInput2">
                <input type="text" placeholder="" autocomplete="off">
            </div>
            <div ngClass="dialogInput">
                <select name="diskDialogStoreType"></select>
            </div>
            <div ngClass="dialogControls" name="controls">
                <div ngClass="dialogSingleControl">
                    <button name="dialogOk">Kapat</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div ngClass="dialog" name="passwordDialog">
    <div ngClass="dialogTop">
        <div ngClass="dialogTitle">
            <span name="dialogTitle">Paylas</span>
        </div>
        <div ngClass="dialogClose" onclick="hidePasswordDialog();">
            <img src="/assets/images/close.png">
        </div>
    </div>
    <div ngClass="dialogFrame">
        <div ngClass="dialogIcon">
            <img src="/assets/images/warning.ico">
        </div>
        <div ngClass="dialogContent">
            <div>
                <p ngClass="dialogText">Asagidaki baglantiyi kullanarak ögeleri sistem kullanicilari disinda internete açik halde paylasabilirsiniz.</p>
            </div>
            <div ngClass="dialogInput" name="dialogPassword">
                <input type="password" placeholder="Parolayi girin..">
            </div>
            <div ngClass="dialogControls" name="controls">
                <div ngClass="dialogSingleControl">
                    <button name="dialogOk">Kapat</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div ngClass="dialog" name="passwordConfirmDialog">
    <div ngClass="dialogTop">
        <div ngClass="dialogTitle">
            <span name="dialogTitle">Paylas</span>
        </div>
        <div ngClass="dialogClose" onclick="hidePasswordConfirmDialog();">
            <img src="/assets/images/close.png">
        </div>
    </div>
    <div ngClass="dialogFrame">
        <div ngClass="dialogIcon">
            <img src="/assets/images/warning.ico">
        </div>
        <div ngClass="dialogContent">
            <div>
                <p ngClass="dialogText">Asagidaki baglantiyi kullanarak ögeleri sistem kullanicilari disinda internete açik halde paylasabilirsiniz.</p>
            </div>
            <div ngClass="dialogInputGroup" name="dialogPasswordGroup">
                <div ngClass="dialogInput">
                    <input type="password" name="dialogPasswordGroupFirst" placeholder="Bir parola girin..">
                </div>
                <div ngClass="dialogInput">
                    <input type="password" name="dialogPasswordGroupSecond" placeholder="Parolayi tekrar girin..">
                </div>
            </div>
            <div ngClass="dialogControls" name="controls">
                <div ngClass="dialogSingleControl">
                    <button name="dialogOk">Kapat</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div ngClass="dialog" name="yesNoDialog" style="display: none;">
    <div ngClass="dialogTop">
        <div ngClass="dialogTitle">
            <span name="dialogTitle">Paylas</span>
        </div>
        <div ngClass="dialogClose" onclick="hideYesNoDialog();">
            <img src="/assets/images/close.png">
        </div>
    </div>
    <div ngClass="dialogFrame">
        <div ngClass="dialogIcon">
            <img src="/assets/images/warning.ico">
        </div>
        <div ngClass="dialogContent">
            <div>
                <p ngClass="dialogText">Asagidaki baglantiyi kullanarak ögeleri sistem kullanicilari disinda internete açik halde paylasabilirsiniz.</p>
            </div>
            <div ngClass="dialogControls" name="controls">
                <div ngClass="dialogYesNo">
                    <div ngClass="dialogYes">
                        <button name="dialogYes">Evet</button>
                    </div>
                    <div ngClass="dialogNo">
                        <button name="dialogNo">Hayir</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ngClass="dialog" name="infoDialog">
    <div ngClass="dialogTop">
        <div ngClass="dialogTitle">
            <span name="dialogTitle">Paylas</span>
        </div>
        <div ngClass="dialogClose" onclick="hideInfoDialog();">
            <img src="/assets/images/close.png">
        </div>
    </div>
    <div ngClass="dialogFrame">
        <div ngClass="dialogIcon">
            <img src="/assets/images/warning.ico">
        </div>
        <div ngClass="dialogContent">
            <div>
                <p ngClass="dialogText">Asagidaki baglantiyi kullanarak ögeleri sistem kullanicilari disinda internete açik halde paylasabilirsiniz.</p>
            </div>
            <div ngClass="dialogControls" name="controls">
                <div ngClass="dialogSingleControl">
                    <button name="dialogOk">Kapat</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div ngClass="dialog" name="readOnlyInputDialog" style="display: none;">
    <div ngClass="dialogTop">
        <div ngClass="dialogTitle">
            <span name="dialogTitle">Paylas</span>
        </div>
        <div ngClass="dialogClose" onclick="hideReadOnlyInputDialog();">
            <img src="/assets/images/close.png">
        </div>
    </div>
    <div ngClass="dialogFrame">
        <div ngClass="dialogIcon">
            <img src="/assets/images/warning.ico">
        </div>
        <div ngClass="dialogContent">
            <div>
                <p ngClass="dialogText">Asagidaki baglantiyi kullanarak ögeleri sistem kullanicilari disinda internete açik halde paylasabilirsiniz.</p>
            </div>
            <div ngClass="dialogInput" name="dialogInput">
                <textarea allowcontextmenu="true" readonly="readonly" cols="45" rows="5">http://localhost:8709/DownloadSharing?Id=8ee4037a03ce4098a709019a2a6c28da</textarea>
            </div>
            <div ngClass="dialogControls" name="controls">
                <div ngClass="dialogSingleControl">
                    <button name="dialogOk">Kapat</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div ngClass="dialogFixRight" name="searchDialog" style="display: none;">
    <div ngClass="dialogFrame">

        <div ngClass="dialogFullContent">
            <div>
                <p ngClass="dialogText">Asagidaki baglantiyi kullanarak ögeleri sistem kullanicilari disinda internete açik halde paylasabilirsiniz.</p>
            </div>
            <div ngClass="dialogInputFull" name="dialogInput">
                <input name="searchText" placeholder="Aranacak Sözcük">
            </div>
            <div ngClass="dialogInputLeftAligned">
                <input type="checkbox" value="false" name="searchAlsoFolderName"><label>Klasör isimlerinde de ara</label>
            </div>
            <div ngClass="dialogControls" name="controls">
                <div ngClass="dialogSingleControl">
                    <button name="dialogOk">Kapat</button>
                </div>
            </div>
        </div>
    </div>
</div>