<div ngClass="dialogProgress" *ngIf="visible" [ngStyle]="{'margin-left':marginLeft,'margin-top':marginTop}"
    (mouseup)="mouseUp($event)">
    <div ngClass="dialogProgressTop" (mouseup)="mouseUp($event)">
        <div ngClass="dialogProgressTitle" (mousedown)="mouseDown($event);" (mousemove)="mouseMove($event)"
            (mouseup)="mouseUp($event)">
            <span>Yükle</span>
        </div>
        <div ngClass="dialogProgressClose" (click)="hide();">
            <img src="/assets/images/close.png">
        </div>
    </div>
    <div ngClass="dialogProgressFrame">
        <div ngClass="dialogProgressIcon">
            <img src="/assets/images/upload.png">
        </div>
        <div ngClass="dialogProgressContent">
            <input type="file" multiple="multiple" (change)="upload($event);" *ngIf="visibleSelectFile" />
            <div ngClass="progress" *ngIf="visibleUploading">
                <div ngClass="progress-bar" [ngStyle]="{'width':percentage+'%'}"></div>
                <div ngClass="progressValue">% {{percentage}}</div>
                <div>Yükleniyor...</div>
            </div>
        </div>
    </div>
</div>