<div class="dialog" name="passwordConfirmDialog" *ngIf="visible">
    <div class="dialogTop">
        <div class="dialogTitle">
            <span name="dialogTitle">{{title}}</span>
        </div>
        <div class="dialogClose" (click)="hide();">
            <img src="/assets/images/close.png">
        </div>
    </div>
    <div class="dialogFrame">
        <div class="dialogIcon">
            <img src="/assets/images/warning.ico">
        </div>
        <div class="dialogContent">
            <div>
                <p class="dialogText">{{message}}</p>
            </div>
            <div class="dialogInputGroup" name="dialogPasswordGroup">
                <div class="dialogInput">
                    <input type="password" [(ngModel)]="passwordFirst" name="dialogPasswordGroupFirst" placeholder="{{placeholderfirst}}">
                </div>
                <div class="dialogInput">
                    <input type="password" [(ngModel)]="passwordSecond" name="dialogPasswordGroupSecond" placeholder="{{placeholdersecond}}">
                </div>
            </div>
            <div class="dialogControls" name="controls">
                <div class="dialogSingleControl">
                    <button name="dialogOk" (click)="Ok();">Kilitle</button>
                </div>
            </div>
        </div>
    </div>
</div>