<div ngClass="contextMenu" *ngIf="visible" [ngStyle]="{'margin-left': marginLeft, 'margin-top': marginTop}">
    <div ngClass="contextMenuTitle">
        <span>{{title}}</span>
    </div>
    <div ngClass="{{item.splitBottom ? 'contextMenuLine splitterBottom' : 'contextMenuLine'}}"
        *ngFor="let item of items" (click)="onItemClicked(item);">
        <div ngClass="contextMenuItemLogo">
            <img src="{{item.logo}}">
        </div>
        <div ngClass="contextMenuItemText">
            <span>{{item.name}}</span>
        </div>
    </div>
</div>